        /* first hyperlink in the navbar */
        
        .nav-tabs>li>a {
            margin: 5px 1px 5px 1px;
            line-height: 1.42857143;
            border: 3px solid #ff0000;
            border-radius: 4px 4px 0 0;
            color: #00ffff;
            font-family: math;
            font-size: large;
            font-weight: 700;
            border-radius: 3cm;
        }
        /* navbar items */
        
        .nav-item {
            border: 5px ridge #eae6e6;
        }
        /* heru production logo */
        
        .header-image {
            width: 200px;
            border: 5px ridge #000000;
            margin: 25px 125px 3px 125px;
            text-align: center;
        }
        /* social media links on base.html */
        
        .btn {
            margin: 1px 90px 1px 80px;
            border: 10px ridge #888;
            border-radius: inherit;
        }
        
        .btn-primary {
            border: 5px ridge #000000;
            background-color: #ffffff;
            border-radius: 3cm;
            margin: 1px;
            border: 5px ridge #000000;
            font-style: inherit;
            font-family: fantasy;
            font-size: medium;
        }
        /* header elements */
        
        h1 {
            text-align: center;
            color: #000000;
            font-weight: bolder;
            font-family: fangsong;
            margin-top: 5px;
            margin-bottom: 5px;
            border: 2px solid black;
        }
        
        h2 {
            margin: 1px 25px 1px 28px;
            color: lavenderblush;
            font-size: x-large;
            font-style: oblique;
            font-family: fangsong;
            font-weight: bolder;
            text-align: center;
        }
        /* hyperlinks */
        
        h2 a {
            color: rgb(1, 0, 2);
        }
        
        section.image div.square div h2 a {
            color: rgb(1, 0, 2);
            font-size: larger;
            font-family: fangsong;
            font-style: inherit;
            font-weight: bolder;
        }
        /* social media links */
        
        .btn-info {
            color: #fff;
            background-color: rgb(253, 253, 253);
            border-color: rgb(1, 0, 2);
            border-radius: 2cm;
            font-size: revert;
            font-weight: bolder;
        }
        /* ownership certification at the bottom of the pages */
        
        .badge-primary {
            color: #000000;
            text-align: left;
            font-weight: 200;
            font-family: math;
        }
        /* square section in the middle of the pages */
        
        .square {
            height: 525px;
            width: 450px;
            background-color: #ff0000;
            margin: auto;
            border-radius: 12cm;
        }
        /* rectangle class */
        
        .rect {
            color: #000000;
            margin: 5px 50px 1px 130px;
        }
        /* list */
        
        li {
            color: #000000;
            font-size: large;
            font-family: fangsong;
            font-weight: bolder;
            margin: inherit;
        }
        /* photograph */
        
        img {
            border-radius: 1cm;
            margin: 25px;
        }
        /* unordered list */
        
        ul {
            color: #000000;
            margin: 2px 1px 2px 3px;
            padding: 5px;
        }
        /* hyperlink */
        
        section div.rect ul.ul li a {
            color: rgb(2, 2, 2);
            border-color: #e84545;
            font-weight: bolder;
            font-size: 20px;
            font-family: fangsong;
        }
        /* business certification at the bottom of the page */
        
        .badge-primary {
            color: #ead0d0f0;
            flex: left;
            font-weight: 200;
            font-family: math;
            font-size: 12px;
            text-align: left;
        }
        /* certification at the bottom of the pages */
        
        .title {
            margin-top: 95px;
        }
        /* Style inputs with type="text", select elements and textareas */
        
        input[type=text],
        input[type=email],
        select,
        textarea {
            color: black;
            width: 100%;
            /* Full width */
            padding: 12px;
            /* Some padding */
            border: 1px solid #ccc;
            /* Gray border */
            border-radius: 4px;
            /* Rounded borders */
            box-sizing: border-box;
            /* Make sure that padding and width stays in place */
            margin-top: 6px;
            /* Add a top margin */
            margin-bottom: 16px;
            /* Bottom margin */
            resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
        }
        /* Style the submit button with a specific background color etc */
        
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        /* When moving the mouse over the submit button, add a darker green color */
        
        input[type=submit]:hover {
            background-color: #45a049;
        }
        /* Add a background color and some padding around the form */
        
        .container {
            background-color: #000000;
            padding: 20px;
            color: lightcoral;
            text-align: c;
            align-content: stretch;
            width: fit-content;
            margin-top: 150px;
        }
        
        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: x-large;
            font-family: fangsong;
            font-variant: petite-caps;
        }